import java.util.Random;

public class Driver 
{
	public static void main(String[] args)
	{
		Integer[] arrayOfNumbers = new Integer[5];
		Driver.fillArrayWithRandomInts(arrayOfNumbers);
		Driver.printIntArray(arrayOfNumbers);
		Driver.mergeSort(arrayOfNumbers);
		Driver.printIntArray(arrayOfNumbers);
	}

	static void mergeSort(Comparable [] a)
	{
		Comparable[] tmp = new Comparable[a.length];
		Driver.mergeSort(a, tmp,  0,  a.length - 1);
	}


	static void mergeSort(Comparable [] a, Comparable [] tmp, int left, int right)
	{
		if( left < right )
		{
			int center = (left + right) / 2;
			Driver.mergeSort(a, tmp, left, center);
			Driver.mergeSort(a, tmp, center + 1, right);
			Driver.merge(a, tmp, left, center + 1, right);
		}
	}

	static void merge(Comparable[] a, Comparable[] tmp, int left, int right, int rightEnd )
	{
	    int leftEnd = right - 1;
	    int k = left;
	    int num = rightEnd - left + 1;

	    while(left <= leftEnd && right <= rightEnd)
	        if(a[left].compareTo(a[right]) <= 0)
	            tmp[k++] = a[left++];
	        else
	            tmp[k++] = a[right++];

	        while(left <= leftEnd)  
	            tmp[k++] = a[left++];

	        while(right <= rightEnd)  
	            tmp[k++] = a[right++];

	        for(int i = 0; i < num; i++, rightEnd--)
	            a[rightEnd] = tmp[rightEnd];
	    }
	    
	static void sortArray(Integer[] values)
	{
	    for (int x = values.length / 2; x > 0; x = x == 2 ? 1 : (int) (x / 2.2))            
	        {
	            for (int i = x; i < values.length; i++)
	            {
	                Integer array = values[i];
	                int j = i;
	                for (;j >= x && array.compareTo(values[j-x]) < 0; j -= x)
	                {
	                    values[j] = values[j - x];
	                }
	                values[j] = array;
	            }
	        }
	}
	
	static void fillArrayWithRandomInts(Integer[] ar)
	{
		Random r = new Random();
		for(int i = 0; i < ar.length; i++)
		{
			ar[i] = r.nextInt(101);
		}
	}
	
	static void printIntArray(Integer[] ar)
	{
		for(int i = 0; i < ar.length; i++)
		{
			System.out.print(ar[i] + " ");
		}
		System.out.println();
	}
}
